{
  "endOfLine": "lf",
  "importOrder": [
    "^(react/(.*)$)|^(react$)|^(react-dom$)|^(react-dom/(.*)$)",
    "^(@vitejs/(.*)$)|^(vite$)",
    "^types$",
    "^@/types",
    "^@/config/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/(.*)$",
    "^@/pages/(.*)$",
    "^@/styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5"
}
